.header h1{
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  height: 70px;
  width: 100%;
  background-color: #7aa899;
  margin: 0;
  padding-top: 15px;
  padding-left: 40px;
  color: #fff;
}
