img{
    width: 200px;
    height: 200px;
  }

.product{
    display: flex;
    justify-content: space-between;
    background-color: red;
    margin: 20px;
    border-radius: 5px;
  }

.product img{
    border: #ff9446 solid 2px;
    border-radius: 5px;
    margin: 20px 20px;
  }

.product-text{
    margin: 20px;
    padding: 10px 20px;
    background-color: #fff;
    border: #ff9446 solid 2px;
    border-radius: 5px;
}

.product-text h3 {
  color: #24292e;
}

a{
    text-decoration: none;
  }

#share {
  background-color: #cfcdd2;
  color: #24292e;
  padding: 5px 10px;
}
